{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<style>.navbar { display: none;}</style>
<div class="container center">
        <h1 class="homepage color-pink">
            <span class="material-icons" style="font-size: 2em">local_fire_department</span>
            MUSIC4LIFE
        </h1>
    <form method="post">
        <h1>Se connecter</h1>
        <p class="subtitle">Pas encore de compte ? <a class="color-pink" href="{{ path('app_register') }}">S'inscrire</a></p>
        {% if error %}
            <p class="error subtitle" style="margin-bottom: 2em;">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
        {% endif %}
        {% if app.user %}
            <div class="error">
                <p style="margin-bottom: 2em;">Vous êtes déjà connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Se déconnecter</a></p> 
            </div>
        {% endif %}
        <label for="inputEmail">Adresse email:</label>
        <input type="email" value="{{ last_username }}" placeholder="Adresse email" name="email" id="inputEmail" class="form-input" autocomplete="email" required autofocus>
        <label for="inputPassword">Mot de passe:</label>
        <input type="password" name="password" id="inputPassword" placeholder="Mot de passe" class="form-input" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >

        <div class="checkbox">
            <label>
                <input type="checkbox" name="_remember_me"> Se souvenir de moi ?
            </label>
        </div>

        <button class="" type="submit">
            Sign in
        </button>
    </form>
</div>

{% endblock %}
